/* styles */

:root {
    font-size:20px;
}


.layout {
    display:grid;
    grid-template: 1fr 5fr/ 1fr 4fr;
}  

.sidebar {
    grid-row:1/3;
    grid-column:1/2;
    display:flex;
    flex-direction:column;
    gap:60px;

    
    background-color: rgb(79, 79, 235);
    
    
    
}

.header {
    grid-row:1/2;
    grid-column:2/3;
    display:grid;
    grid-template: repeat(2,1fr)/60% 40%;
}

.main-content {
    grid-row:2/3;
    grid-column: 2/3;;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:70% 30%;
}

.your-projects {
    grid-area:1/1/3/2;
}

.trending {
    grid-area:2/2/3/3;
}

.announcements {
    grid-area:1/2/2/3;
}
body {
    margin:0;
    padding:0;
    background-color: black;
}
.layout {
   height: 120vh;
   width:75vw;
   margin:auto;
}

.main-content {
    background-color: rgb(241, 234, 234);
}

.header {
    background-color: white;
}


.sidebar-icons {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    filter:invert(1);
}

.sidebar {
    
    padding: 20px;
    color: white;

    
}

.dashboard {
    font-size:1.5rem;
}

.menu, .sub-menu {
    display:flex;
    flex-direction:column;
    gap:15px;
}

.dashboard img {
    width: 20px;
    height: 20px;
}

.header-icon {
    width: 20px;
    height: 20px;
}

.long-profile-icon {
    width: 60px;
    height: 60px;
}

.search-bar {
    width: 60%;
    height: 30px;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
}

.search {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: left;
    padding-left: 30px;
    
}

.short-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
   
}

.long-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: left;
    padding-left:30px;
    
}

.header-menu {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.header-menu-item {
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: skyblue;
    border-radius: 15px;
    color:white;
    width:20%;

}

.card-icon {
    width: 20px;
    height: 20px;
}

.trending-icon {
    width: 40px;
    height: 40px;
}


.your-projects-title {
    font-size:1rem;
    padding-left:20px;
    padding-top:30px;
}

.your-projects {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.cards {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:20px;
    padding:20px;
    height:90%;
    /* grid-area:"project1 project2" "project3 project4" "project5 project6"; */

}
.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    
    
    
}

.card-icons {
    display:flex;
    margin: 40px 0 0 0;
    gap:15px;
    justify-content: end;
    
}

.announcements {
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: left;
}

.announcements-title {
    font-size:1rem;
    padding-left:0px;
    padding-top:30px;
    font-weight: bold;
}

.announcements-group {
    display:flex;
    flex-direction: column;
    
    width:80%;
    font-size:0.5rem;
    
    
}

.site-maintenance,.community-share-day,.updated-privacy-policy{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.trending {
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: left;
}

.trending-title {
    font-size:1rem;
    padding-left:0px;
    padding-top:30px;
    font-weight: bold;
}

.trending-group {
    display:flex;
    flex-direction: column;
    background-color: white;
    width:68%;
    font-size:0.5rem;
    gap:30px;
    padding:20px;
    
}

.trending-group div {
    display:flex;
    gap:10px;
    align-items: center;
    
}

.tegan-details, .alex-details,.kendall-details,.morgan-details {
    display:flex;
    flex-direction: column;
    padding:0;
    margin-left:10px;
    font-size:0.6rem;
}




